html {
  background: url('../images/theme/flower.png') repeat center center #F9F9F9;
}

.the-header, .the-footer {
  width: 40%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.nav-global {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 12px 12px 6px 12px;
}

.logo > a {
  font-family: "Sawarabi Mincho", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', "Yu Mincho", "YuMincho", serif;
}

.lead {
  font-size: 1.1rem;
  font-weight: 300;
}

.entry-content {
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2;
}

.unit-foot {
  background-color: rgba(255, 255, 255, 0.8);  
}

@media only screen and (max-width: 640px) {
  .body .unit-body {
    padding: 20px 20px 20px 36px;
  }
}
