.logo > a {
  font-family: "Sawarabi Mincho", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', "Yu Mincho", "YuMincho", serif;
}

.lead {
  font-size: 1.1rem;
  font-weight: 300;
}

.entry-content {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2;
}
